.browser-card{
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {        
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;           
    }

    &__item{
        text-align: center;    
        margin: 25px auto;
        width: 280px;        
        height: 365px;
        border-radius: 12px;
        box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);

        @media (min-width: 768px) {
            margin: 10px 17px;            
        }                
    }    

    &__img{
        padding-top: 46px;
        padding-bottom: 8px;        
    }

    &__title{
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 0;
    }

    &__requirement{
        font-size: 14px;
        font-weight: 400;      
        color: $grayishBlue;
        margin-top: 14px;
        margin-bottom: 26px;
    }
}

.card-position-2{
    @media (min-width: 768px) {        
        margin-top: 50px;        
    }    
}

.card-position-3{
    @media (min-width: 768px) {        
        margin-top: 90px;     
    }    
}