.card{
    display: flex;
    flex-direction: column;
    
    @media (min-width: 768px) {        
        margin-left: 11.5%;
        margin-right: 11.5%;
    }

    &--bookmark-manager{
        @extend .card;

        @media (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;        
            margin-left: 11.5%;
            margin-right: 7%;
            margin-top: 130px;
        }
    }

    &__description-container{        
        text-align: center;        

        @media (min-width: 768px) {            
            margin-left: auto;
            margin-right: auto;            
            max-width: 480px;
        }
        
        &--bookmark-manager{ 
            text-align: center;
            order: 1;            
            
            @media (min-width: 768px) {  
                width: 44%;
                display: flex;
                flex-direction: column;
                justify-content: center;    
                text-align: start;
                order: 0;                
            }
        }
    }

    &__title{
        font-size: 25px;
        font-weight: 500; 
        margin-top: 0;
        margin-bottom: 0;

        @media (min-width: 768px) {
            font-size: 32px;
        }
        
        &--bookmark-manager{
            @extend .card__title;        
            font-size: 32px; 
            
            @media (min-width: 768px) {
                font-size: 50px;
            }
        }        
    }

    &__description{
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
        color: $grayishBlue;
        margin-bottom: 40px;
        font-size: 16px;
        
        @media (min-width: 768px) {            
            margin-left: auto;
            margin-right: auto;           
        }

        &--bookmark-manager{
            @extend .card__description;        
            font-size: 16px;

            @media (min-width: 768px) {
                max-width: 500px;                
                font-size: 18px;               
                margin-right: 10px;
                margin-left: 0;                
            }       
        }        
    }

    &__button-container{
        display: flex;
        justify-content: space-between;

        @media (min-width: 768px) {
            justify-content: start;
        }        
    }

    &__button{        
        @media (min-width: 768px) {
            margin-right: 18px;
        }        
    }

    &__img-container{
        text-align: center;
        position: relative;
        margin-bottom: 55px;  

        @media (min-width: 768px) {           
            width: 56%;
            display: flex;
            align-items: center;
            justify-content: right;
            margin-bottom: 0;                  
        }
        
        &::before{
            content: '';
            position: absolute;            
            bottom: 0;
            right: -30px;
            width: 98%;
            max-width: 700px;//!Revisar
            height: 81%;            
            z-index: -1;
            border-top-left-radius: 120px; 
            border-bottom-left-radius: 120px; 
            background-color: $softBlue;

            @media (min-width: 768px) {                
                max-height: 260px; 
                right: var(--semicircleRight);
                width: 90%;
            }

            @media (min-width: 1024px) {
                width: 90%;            
                max-height: 350px;           
                right: var(--semicircleRight);
                bottom: -55px;
            }
        }
    }

    &__img{
        transform: scale(1.15);
        padding-bottom: 20px;

        @media (min-width: 768px) {
            transform: scale(1.15);           
            padding: 0;
            max-height: 380px;
        }                
    }
}