.contact{  
    margin-left: auto;
    margin-right: auto;
    color: $white;
    margin-bottom: 60px;

    @media (min-width: 768px) {
        width: 460px;        
    }

    &__info{
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 5px;
        margin: 0;
        padding-top: 72px;

        @media (min-width: 768px) {
            font-size: 13px;
        }
    }

    &__heading{
        margin-top: 15px;
        margin-bottom: 30px;
        font-size: 24px;
        font-weight: 500;

        @media (min-width: 768px) {
            font-size: 32px;
        }
    }

    &__form{
        width: 83%;        
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        
        @media (min-width: 768px) {
            flex-direction: row;
            justify-content: space-around;
            width: 100%;     
        }
        
    }

    &__container-email{
        background-color: $softRed;
        border-radius: 6px;
        margin-bottom: 15px;
    }

    &__email-input{
        width: 100%;
        height: 48px;        
        border-radius: 6px;
        text-indent: 20px;
        color: $grayishBlue;
        
        @media (min-width: 768px) {
            width: 300px;
        }
        

        &--error{
            border: 2px solid $softRed;           
            background: $white url("../images/icon-error.svg") no-repeat scroll 93% 50%;
        }

        &::placeholder{            
            font-size: 15px;            
        }
    }

    &__email-error{
        display: none;        
        font-weight: 500;
        font-style: italic;
        text-align: left;
        padding: 5px 15px;
        color: $white;

        &--show{
            display: block;
        }
    }
}
