//TODO al hacerse más pequeño se muestra la animación del menu
.nav{       
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    padding: 0 30px;
    background-color: $darkBlue;    
    opacity: .95;
    z-index: 100;
    transform: translateY(-100%);
    transition: transform .3s;

    @media (min-width: 768px) {
        position: static;
        transform: translateY(0);
        width: auto;
        height: auto;
        background-color: $white;
        padding: 0;                
    }

    &--show{
        transform: translateY(0);
    }

    &__list{        
        width: 100%;        
        text-transform: uppercase;            
        text-align: center;
        margin-top: 100px;
        margin-bottom: 25px;      
        padding: 0;
        border-bottom: 1px solid $gray;

        @media (min-width: 768px) {
            display: flex;
            align-items: center;
            border: none;
            margin: 0;
        }
    }

    &__item{
        font-size: 20px;
        letter-spacing: 3px;
        padding: 22px;
        border-top: 1px solid $gray;
        
        @media (min-width: 768px) {
            border: none;
            font-size: 13px;
            letter-spacing: 2px;
            padding: 20px;

            &:last-of-type{
                padding-right: 50px;
            }
        }
    }

    &__link{        
        color: $white;

        @media (min-width: 768px) {           
            color: $darkBlue;

            &:hover{
                color: $softRed;               
            }
        }
    }
}