.social-networks{
    text-align: center;
    margin-top: 220px;

    @media (min-width: 768px) {
        display: none;
    }

    &--footer{ 
        display: flex;
        justify-content: center;          
        align-items: center;   
        padding-bottom: 45px;
        
        @media (min-width: 768px) {             
            padding: 0;
        }      
    }

    &__icon{     
        margin: 0 20px;              
    }
}

.icon-color{
   
    @media (min-width: 768px) {
        &:hover{           
            cursor: pointer;    
            fill: $softRed;
        }
    } 
}