:root {
  --semicircleRight: 0;
  --semicircleLeft: 0; }

.button, .button--blue, .button--gray, .button--browser, .button--more-info, .button--contact, .button--login {
  font-size: 14px;
  font-weight: 500;
  border-radius: 6px;
  width: 150px;
  height: 48px;
  border: none;
  box-shadow: 0 10px 8px -5px rgba(145, 148, 161, 0.3); }
  .button--blue {
    background-color: #5368df;
    color: #fff; }
    .button--blue:hover {
      background-color: #fff;
      color: #5368df;
      border: 2px solid #5368df; }
  .button--gray {
    background-color: #f7f7f7;
    color: #585a66; }
    .button--gray:hover {
      background-color: #fff;
      color: #252b46;
      border: 2px solid #252b46; }
  .button--browser {
    background-color: #5368df;
    color: #fff;
    width: 230px;
    margin: 20px 0; }
    @media (min-width: 768px) {
      .button--browser {
        border: none; }
        .button--browser:hover {
          background-color: #fff;
          color: #5368df;
          border: 2px solid #5368df; } }
  .button--more-info {
    width: 114px;
    background-color: #5368df;
    color: #fff; }
  .button--contact {
    width: 100%;
    background-color: #fa5757;
    color: #fff; }
    @media (min-width: 768px) {
      .button--contact {
        width: 125px; }
        .button--contact:hover {
          background-color: #fff;
          color: #fa5757;
          border: 2px solid #fa5757; } }
  .button--login {
    width: 100%;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 500;
    text-transform: uppercase; }
    @media (min-width: 768px) {
      .button--login {
        background-color: #fa5757;
        width: 110px;
        font-size: 12px;
        letter-spacing: 2px;
        border: none;
        height: 40px; }
        .button--login:hover {
          background-color: #fff;
          color: #fa5757;
          border: 2px solid #fa5757; } }

*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  font-family: 'Rubik', sans-serif;
  font-size: 18px; }

main {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto; }

section {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 135px; }
  @media (min-width: 768px) {
    section {
      display: flex;
      justify-content: space-around;
      margin-top: 160px; } }

footer {
  margin-top: 122px;
  background-color: #5368df;
  text-align: center; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
  padding: 40px 30px;
  background-color: #fff; }
  @media (min-width: 768px) {
    .header {
      position: static;
      width: auto;
      align-items: center;
      justify-content: space-between;
      padding: 45px 0 0 0;
      margin: 0 11.5%; } }
  .header__icon-menu, .header__logo-container {
    z-index: 1000; }
  @media (min-width: 768px) {
    .header__icon-menu {
      display: none; } }
  .header__logo--white {
    filter: invert(1) brightness(100); }
    @media (min-width: 768px) {
      .header__logo--white {
        filter: none; } }
  .header__menu {
    cursor: pointer; }

.nav {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  padding: 0 30px;
  background-color: #252b46;
  opacity: .95;
  z-index: 100;
  transform: translateY(-100%);
  transition: transform .3s; }
  @media (min-width: 768px) {
    .nav {
      position: static;
      transform: translateY(0);
      width: auto;
      height: auto;
      background-color: #fff;
      padding: 0; } }
  .nav--show {
    transform: translateY(0); }
  .nav__list {
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 25px;
    padding: 0;
    border-bottom: 1px solid #585a66; }
    @media (min-width: 768px) {
      .nav__list {
        display: flex;
        align-items: center;
        border: none;
        margin: 0; } }
  .nav__item {
    font-size: 20px;
    letter-spacing: 3px;
    padding: 22px;
    border-top: 1px solid #585a66; }
    @media (min-width: 768px) {
      .nav__item {
        border: none;
        font-size: 13px;
        letter-spacing: 2px;
        padding: 20px; }
        .nav__item:last-of-type {
          padding-right: 50px; } }
  .nav__link {
    color: #fff; }
    @media (min-width: 768px) {
      .nav__link {
        color: #252b46; }
        .nav__link:hover {
          color: #fa5757; } }

.social-networks {
  text-align: center;
  margin-top: 220px; }
  @media (min-width: 768px) {
    .social-networks {
      display: none; } }
  .social-networks--footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 45px; }
    @media (min-width: 768px) {
      .social-networks--footer {
        padding: 0; } }
  .social-networks__icon {
    margin: 0 20px; }

@media (min-width: 768px) {
  .icon-color:hover {
    cursor: pointer;
    fill: #fa5757; } }

.card, .card--bookmark-manager {
  display: flex;
  flex-direction: column; }
  @media (min-width: 768px) {
    .card, .card--bookmark-manager {
      margin-left: 11.5%;
      margin-right: 11.5%; } }
  @media (min-width: 768px) {
    .card--bookmark-manager {
      flex-direction: row;
      justify-content: space-between;
      margin-left: 11.5%;
      margin-right: 7%;
      margin-top: 130px; } }
  .card__description-container {
    text-align: center; }
    @media (min-width: 768px) {
      .card__description-container {
        margin-left: auto;
        margin-right: auto;
        max-width: 480px; } }
    .card__description-container--bookmark-manager {
      text-align: center;
      order: 1; }
      @media (min-width: 768px) {
        .card__description-container--bookmark-manager {
          width: 44%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: start;
          order: 0; } }
  .card__title, .card__title--bookmark-manager {
    font-size: 25px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0; }
    @media (min-width: 768px) {
      .card__title, .card__title--bookmark-manager {
        font-size: 32px;
        margin-bottom: 20px; } }
    .card__title--bookmark-manager {
      font-size: 32px; }
      @media (min-width: 768px) {
        .card__title--bookmark-manager {
          font-size: 50px; } }
  .card__description, .card__description--bookmark-manager {
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    color: #9194a1;
    margin-bottom: 40px; }
    @media (min-width: 768px) {
      .card__description, .card__description--bookmark-manager {
        margin-left: auto;
        margin-right: auto;
        font-size: 16px; } }
    .card__description--bookmark-manager {
      font-size: 16px; }
      @media (min-width: 768px) {
        .card__description--bookmark-manager {
          max-width: 500px;
          font-size: 18px;
          margin-right: 10px;
          margin-left: 0; } }
  .card__button-container {
    display: flex;
    justify-content: center; }
    @media (min-width: 768px) {
      .card__button-container {
        justify-content: start; } }
  .card__button {
    margin-right: 18px; }
  .card__img-container {
    text-align: center;
    position: relative;
    margin-bottom: 55px; }
    @media (min-width: 768px) {
      .card__img-container {
        width: 56%;
        display: flex;
        align-items: center;
        justify-content: right;
        margin-bottom: 0; } }
    .card__img-container::before {
      content: '';
      position: absolute;
      bottom: 0;
      right: -30px;
      width: 98%;
      max-width: 700px;
      height: 84%;
      z-index: -1;
      border-top-left-radius: 160px;
      border-bottom-left-radius: 160px;
      background-color: #5368df; }
      @media (min-width: 768px) {
        .card__img-container::before {
          max-height: 260px;
          right: var(--semicircleRight);
          width: 90%; } }
      @media (min-width: 1024px) {
        .card__img-container::before {
          width: 75%;
          height: 90%;
          max-width: 550px;
          max-height: 350px;
          right: var(--semicircleRight);
          bottom: -70px; } }
  .card__img {
    transform: scale(1.15);
    padding-bottom: 20px; }
    @media (min-width: 768px) {
      .card__img {
        transform: scale(1.22);
        padding: 0;
        max-height: 380px; } }

@media (min-width: 768px) {
  .tabs {
    height: 605px; } }

.tabs__list {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  border-bottom: 1px solid #9194a1;
  margin-bottom: 72px; }
  @media (min-width: 768px) {
    .tabs__list {
      flex-direction: row;
      margin-left: auto;
      margin-right: auto;
      max-width: 730px; } }

.tabs__item {
  cursor: pointer;
  padding: 19px 0;
  width: 100%;
  border-top: 1px solid #9194a1;
  color: #252b46;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center; }
  @media (min-width: 768px) {
    .tabs__item {
      border: none;
      padding-block: 30px; }
      .tabs__item:hover {
        color: #fa5757; } }

.tabs__item--active::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 150px;
  height: 4px;
  background-color: #fa5757; }
  @media (min-width: 768px) {
    .tabs__item--active::after {
      width: 100%; } }

.tabs__content {
  display: none; }

.tabs__content--active {
  display: block; }

.tab-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  display: none; }
  .tab-content--active {
    display: flex; }
  @media (min-width: 768px) {
    .tab-content {
      flex-direction: row; } }
  .tab-content__container-img {
    position: relative;
    padding-bottom: 42px;
    margin-bottom: 10px;
    text-align: center; }
    @media (min-width: 768px) {
      .tab-content__container-img {
        display: flex;
        align-items: center;
        text-align: left;
        width: 50%; } }
    .tab-content__container-img::after {
      content: '';
      position: absolute;
      width: 98%;
      max-width: 480px;
      height: 86%;
      background-color: #5368df;
      left: -30px;
      bottom: 0;
      z-index: -1;
      border-bottom-right-radius: 160px;
      border-top-right-radius: 160px; }
      @media (min-width: 768px) {
        .tab-content__container-img::after {
          max-height: 220px;
          left: var(--semicircleLeft);
          width: 90%; } }
      @media (min-width: 1024px) {
        .tab-content__container-img::after {
          bottom: -40px;
          width: 120%;
          height: 100%;
          max-height: 350px;
          max-width: 600px;
          left: var(--semicircleLeft); } }
  .tab-content__info {
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    color: #9194a1;
    margin-top: 14px;
    margin-bottom: 0; }
    @media (min-width: 768px) {
      .tab-content__info {
        width: 50%;
        margin-top: 0;
        padding-left: 10%;
        text-align: left;
        display: flex;
        flex-direction: column;
        margin-top: 70px; } }
  .tab-content__title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0;
    color: #252b46; }
    @media (min-width: 768px) {
      .tab-content__title {
        font-size: 30px;
        margin-top: 0; } }
  .tab-content__description {
    font-weight: 500; }
    @media (min-width: 768px) {
      .tab-content__description {
        font-size: 18px;
        margin: 30px 0; } }
  .tab-content__button {
    display: none; }
    @media (min-width: 768px) {
      .tab-content__button {
        display: block; } }

.browser-card {
  display: flex;
  flex-direction: column; }
  @media (min-width: 768px) {
    .browser-card {
      flex-direction: row;
      justify-content: center; } }
  .browser-card__item {
    text-align: center;
    margin: 25px auto;
    width: 280px;
    height: 365px;
    border-radius: 12px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2); }
    @media (min-width: 768px) {
      .browser-card__item {
        margin: 10px 17px; } }
  .browser-card__img {
    padding-top: 46px;
    padding-bottom: 8px; }
  .browser-card__title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0; }
  .browser-card__requirement {
    font-size: 14px;
    font-weight: 400;
    color: #9194a1;
    margin-top: 14px;
    margin-bottom: 26px; }

@media (min-width: 768px) {
  .card-position-2 {
    margin-top: 50px; } }

@media (min-width: 768px) {
  .card-position-3 {
    margin-top: 90px; } }

@media (min-width: 768px) {
  .accordion {
    width: 540px;
    margin-left: auto;
    margin-right: auto; } }

.accordion__question-container {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.accordion__question {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  color: #252b46;
  padding-top: 12px;
  margin-bottom: 5px; }
  @media (min-width: 768px) {
    .accordion__question {
      font-size: 18px; }
      .accordion__question:hover {
        cursor: pointer;
        color: #fa5757; }
      .accordion__question:first-of-type {
        padding-top: 18px;
        border-top: 1px solid #9194a1; } }
  .accordion__question::after {
    content: '';
    transition: transform .3s;
    width: 18px;
    height: 12px;
    -webkit-mask: url(../images/icon-arrow.svg) no-repeat 50% 50%;
    mask: url(../images/icon-arrow.svg) no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: #5368df; }
  .accordion__question--active::after {
    background-color: #fa5757;
    transform: rotate(-180deg);
    transition: transform .3s; }

.accordion__img {
  width: 18px;
  height: 12px; }

.accordion__content {
  text-align: left;
  line-height: 30px;
  font-size: 15px;
  color: #9194a1;
  padding-right: 43px;
  padding-bottom: 15px;
  font-weight: 400;
  overflow: hidden;
  border-bottom: 1px solid #9194a1;
  max-height: 0;
  transition: max-height .3s; }

.accordion__content--show {
  max-height: 100vh; }

.accordion__button-container {
  text-align: center;
  margin-top: 45px; }

.contact {
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  margin-bottom: 60px; }
  @media (min-width: 768px) {
    .contact {
      width: 460px; } }
  .contact__info {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 5px;
    margin: 0;
    padding-top: 72px; }
    @media (min-width: 768px) {
      .contact__info {
        font-size: 13px; } }
  .contact__heading {
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 500; }
    @media (min-width: 768px) {
      .contact__heading {
        font-size: 32px;
        margin-top: 40px;
        margin-bottom: 38px; } }
  .contact__form {
    width: 83%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto; }
    @media (min-width: 768px) {
      .contact__form {
        flex-direction: row;
        justify-content: space-around;
        width: 100%; } }
  .contact__container-email {
    background-color: #fa5757;
    border-radius: 6px;
    margin-bottom: 15px; }
  .contact__email-input {
    width: 100%;
    height: 48px;
    border-radius: 6px;
    text-indent: 20px;
    color: #9194a1; }
    @media (min-width: 768px) {
      .contact__email-input {
        width: 300px; } }
    .contact__email-input--error {
      border: 2px solid #fa5757;
      background: #fff url("../images/icon-error.svg") no-repeat scroll 93% 50%; }
    .contact__email-input::placeholder {
      font-size: 15px; }
  .contact__email-error {
    display: none;
    font-weight: 500;
    font-style: italic;
    text-align: left;
    padding: 5px 15px;
    color: #fff; }
    .contact__email-error--show {
      display: block; }

.nav-footer {
  background-color: #252b46;
  color: #fff;
  padding-top: 40px; }
  @media (min-width: 768px) {
    .nav-footer {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 0;
      height: 85px; } }
  .nav-footer__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4px; }
    @media (min-width: 768px) {
      .nav-footer__menu {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-right: 90px; } }
  .nav-footer__logo {
    width: 150px; }
    @media (min-width: 768px) {
      .nav-footer__logo {
        margin-left: 15px;
        margin-right: 35px; } }
  .nav-footer__list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 32px; }
    @media (min-width: 768px) {
      .nav-footer__list {
        flex-direction: row;
        margin: 0 50px; } }
  .nav-footer__item {
    font-size: 14px;
    letter-spacing: 3px;
    padding: 16px;
    text-transform: uppercase; }
    @media (min-width: 768px) {
      .nav-footer__item {
        font-size: 13px;
        padding: 0;
        margin: 0 20px;
        letter-spacing: 2px; }
        .nav-footer__item:hover {
          cursor: pointer;
          color: #fa5757; } }
