section.card--bookmark-manager
    div.card__description-container--bookmark-manager
        h1.card__title--bookmark-manager A Simple Bookmark Manager
        p.card__description--bookmark-manager A clean and simple interface to organize your favourite websites. Open a new browser tab and see your sites load instantly. Try it for free.
        div.card__button-container
            button.card__button.button--blue Get it on Chrome
            button.card__button.button--gray Get it on Firefox
    div.card__img-container
        img.card__img(src="images/illustration-hero.svg", alt="hero card")