section.card
    div.card__description-container#faq
        h2.card__title Frequently Asked Questions                    
        p.card__description Here are some of our FAQs. If you have any other questions you’d like answered please feel free to email us.
    div.accordion#accordion                   
        p.accordion__question What is Bookmark?                    
        div.accordion__content
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt justo eget ultricies fringilla. Phasellus blandit ipsum quis quam ornare mattis.
        p.accordion__question How can I request a new browser?                   
        div.accordion__content
            p Vivamus luctus eros aliquet convallis ultricies. Mauris augue massa, ultricies non ligula. Suspendisse imperdiet. Vivamus luctus eros aliquet convallis ultricies. Mauris augue massa, ultricies non ligula. Suspendisse imperdie tVivamus luctus eros aliquet convallis ultricies. Mauris augue massa, ultricies non ligula. Suspendisse imperdiet.
        p.accordion__question Is there a mobile app?                    
        div.accordion__content
            p Sed consectetur quam id neque fermentum accumsan. Praesent luctus vestibulum dolor, ut condimentum   urna vulputate eget. Cras in ligula quis est pharetra mattis sit amet pharetra purus. Sed sollicitudin ex et ultricies bibendum.
        p.accordion__question What about other Chromium browsers?                    
        div.accordion__content
            p Integer condimentum ipsum id imperdiet finibus. Vivamus in placerat mi, at euismod dui. Aliquam vitae neque eget nisl gravida pellentesque non ut velit.   
        div.accordion__button-container
            button.accordion__button.button--more-info More Info