header.header            
    div.header__logo-container
        img#logo(src="images/logo-bookmark.svg", alt="logo")
    div.header__icon-menu
        img.header__menu#menu(src="images/icon-hamburger.svg", alt="menu")
    nav.nav#top-menu              
        ul.nav__list
            li.nav__item: a.nav__link(href="#features") Features
            li.nav__item: a.nav__link(href="#faq") Pricing
            li.nav__item: a.nav__link(href="#contact") Contact
        div.nav__button-container
            button.button--login Login
        div.social-networks
            img.social-networks__icon(src="images/icon-facebook.svg", alt="facebook")
            img.social-networks__icon(src="images/icon-twitter.svg", alt="twitter") 