.button{
    font-size: 14px;    
    font-weight: 500;
    border-radius: 6px;
    width: 150px;
    height: 48px;
    border: none;
    box-shadow: 0 10px 8px -5px hsla(229,8%,60%,0.3);

    &--blue{
        @extend .button;
        background-color: $softBlue;
        color: $white;

        &:hover{
            background-color: $white;
            color: $softBlue;
            border: 2px solid $softBlue;            
        }
    }

    &--gray{
        @extend .button;
        background-color: $white2;
        color: $gray;

        &:hover{
            background-color: $white;
            color: $darkBlue;
            border: 2px solid $darkBlue;            
        }
    }

    &--browser{
        @extend .button;
        background-color: $softBlue;
        color: $white;
        width: 230px;
        margin: 20px 0;
        
        @media (min-width: 768px) {
            border: none;

            &:hover{
                background-color: $white;
                color: $softBlue;
                border: 2px solid $softBlue;
            }
        }
    }

    &--more-info{
        @extend .button;
        width: 114px;
        background-color: $softBlue;
        color: $white;
    }

    &--contact{
        @extend .button;
        width: 100%;     
        background-color: $softRed;
        color: $white;

        @media (min-width: 768px) {
            width: 125px;

            &:hover{
                background-color: $white;
                color: $softRed;
                border: 2px solid $softRed;
            }
        }
    }

    &--login{
        @extend .button;
        width: 100%;
        background-color: transparent;
        border: 2px solid $white;
        color: $white;
        font-size: 20px;
        letter-spacing: 3px;
        font-weight: 500;
        text-transform: uppercase; 

        @media (min-width: 768px) {
            background-color: $softRed;
            width: 110px;
            font-size: 12px;
            letter-spacing: 2px;
            border: none;
            height: 40px;

            &:hover{
                background-color: $white;
                color: $softRed;
                border: 2px solid $softRed;            
            }
        }
    }
}
